/* General styling */
body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  margin: 0;
  padding: 0px 0px;
  background-color: #f4f4f4;
  color: #333;
  display: flex;
  flex-direction: column;
   align-items: center;
}

/* Container styling */
.container {
  width: 80%;
  max-width: 1500px;
  margin: 20px auto;
}

/* Header styling */
header {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 20px 0;
  width: 100%;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

/* Section styling */
.sectionId {
  margin: 20px;
  padding: 20px;
  background: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Heading styling */
header h1 {
  margin: 0;
  font-size: 2.5em;
}

h2 {
  color: #333;
  margin-bottom: 10px;
}

/* Skills list */
.sectionId ul {
  list-style-type: none;
  padding: 0;
}

.sectionId ul li {
  background: #e7e7e7;
  margin-bottom: 8px;
  padding: 10px;
  border-radius: 4px;
}

/* Contact section styling */
.sectionId a {
  color: #00f;
  text-decoration: none;
}

.sectionId a:hover {
  text-decoration: underline;
}

/* Responsiveness */
@media (max-width: 768px) {
  .container {
      width: 95%;
  }

  .sectionId {
      margin: 10px;
      padding: 10px;
  }
}

/* Footer styling */
footer {
  text-align: center;
  padding: 20px;
  background-color: #333;
  color: #fff;
  position: relative;
  bottom: 0;
  width: 60%;
}
